:root{
  --ghost-color: rgba(0, 0, 0, 0.3);
}

.game-page{
  width: 100%;
  height: 100%;
  position: relative;
}

.board{
  display: flex;
  flex-direction: column;
  pointer-events: none;
  .row{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.1rem;
    width: 100%;

    > div{
      margin-left: 0.1rem;
      width: 3rem;
      height: 3rem;
      background-color: rgb(35, 153, 35);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;

      &:hover{
        &::before{
          content: "";
          width: 75%;
          height: 75%;
          border-radius: 5rem;
          position: absolute;
          background-color: var(--ghost-color);
        }
      }
    }

    > .color-119, > .color-98{
      pointer-events: none;
      perspective: 800px;
      &::before, &::after{
        content: "";
        width: 75%;
        height: 75%;
        border-radius: 5rem;
        position: absolute;
        backface-visibility: hidden;
      }
      &::before{
        background-color: white;
        transform: rotateY(180deg);
      }
      &::after{
        background-color: black;
      }
    }

    > .color-119{
      &::after{
        transform: rotateY(180deg);
      }
      &::before{
        transform: rotateY(0deg);
      }
    }
  }
}

.board.enabled{
  pointer-events: all;
}
