@use "./scss/variables" as v;

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: v.$main-bg;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-drag: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#root{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.custom-scrollbar{
  &::-webkit-scrollbar{
    background-color: rgb(18, 18, 18);
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: rgb(213, 213, 213);
  }
}

@media (max-width: 500px) {
.custom-scrollbar{
  &::-webkit-scrollbar{
    width: 6px;
    height: 6px;
  }
}
}