:root{
  --ghost-color: rgb(0, 0, 0);
}

.cur-turn{
  text-align: center;
  font-family: monospace;
  font-size: 2rem;
  color: white;
  margin-top: 1rem;
}

.board-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .board-container{
    display: flex;
    justify-content: center;
  }

  .points-table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: monospace;
    font-weight: 900;
    width: 100%;
    max-width: 24rem;

    > div{
      font-size: 3rem;

      &.white-points{
        color: white;
      }
      text-shadow: 0 0 2px rgb(173, 254, 255);
    }
  }
}

.board{
  display: flex;
  flex-direction: column;
  pointer-events: none;
  overflow: auto;
  width: max-content;
  position: relative;

  .game-over{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 10;
    font-size: 3rem;
    font-weight: 600;
    animation: 0.5s fadin forwards;
    pointer-events: all;

    > div:first-child{
      margin-bottom: 2rem;
    }
  }

  .row{
    display: flex;
    flex-direction: row;
    margin: 0.05rem 0;
    width: 100%;

    > div{
      margin: 0 0.05rem;
      min-width: 3rem;
      min-height: 3rem;
      background-color: rgb(35, 153, 35);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
    }
    .available::before{
      content: "";
      width: 75%;
      height: 75%;
      border-radius: 5rem;
      position: absolute;
      background-color: var(--ghost-color);
      opacity: 0.4;

    }
    .available:hover::before{
      animation: 1s blink linear infinite;
    }

    > .color-119, > .color-98{
      pointer-events: none;
      perspective: 800px;
      &::before, &::after{
        content: "";
        width: 75%;
        height: 75%;
        border-radius: 5rem;
        position: absolute;
        backface-visibility: hidden;
        transition: transform 1s;
      }
      &::before{
        background-color: white;
        transform: rotateY(180deg);
      }
      &::after{
        background-color: black;
      }
    }

    > .color-119{
      &::after{
        transform: rotateY(180deg);
      }
      &::before{
        transform: rotateY(0deg);
      }
    }
  }
}

.board.enabled{
  pointer-events: all;
}

@keyframes blink {
  0%{
    opacity: 0.4;
    transform: scale(1, 1);
  }
  50%{
    opacity: 1;
    transform: scale(1.05, 1.05);
  }
  100%{
    opacity: 0.4;
    transform: scale(1, 1);
  }
}

@keyframes fadein {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .board{
    .row{
      > div{
        min-width: 2.5rem;
        min-height: 2.5rem;
      }
    }
  }
}

@media (max-width:332px) {
  .board{
    .row{
      > div{
        min-width: 2rem;
        min-height: 2rem;
      }
    }
  }
}