@use "./variables" as v;

.form-group{
  margin-top: 1.5rem;

  .form-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 1rem;
  }

  &[data-theme="dark"]{
    color: white;
  }
}

.form-field{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;

  > label{
    position: absolute;
    left: 0.5rem;
    pointer-events: none;
    transition: 0.2s;
  }
}

input[type=text]{
  --border-color: black;
  outline: 0;
  border: 1px solid var(--border-color);
  height: 2rem;
  width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 3px;

  &[data-theme="dark"]{
    --border-color: white;
    color: white;
    background-color: transparent;
  }
}

input[type=text]:focus{ 
  --bc: blue;
  border-color: var(--bc);

  &[data-theme="dark"]{
    --bc: rgb(115, 124, 255);
  }
}

input[type=text]:focus ~ label, input[type=text]:valid ~ label{
  background-color: v.$main-bg;
  transform: translate(0, -1rem);
  padding: 0 0.4rem;
  font-size: 0.8rem;
}

.flex-btns{
  display: flex;
  flex-direction: row;
  align-items: center;

  > *{
    margin-right: 1rem;
  }
}

.page-card-dark{
  width: 100%;
  max-width: 30rem;
  background-color: rgb(30, 30, 30);
  border-radius: 4px;
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.loading-screen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  font-family: monospace;
}

.loading-screen::after{
  content: "";
  display: contents;
  animation: 2s load-dot infinite;
}

.copied-msg{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 0.5rem 2rem;
  height: 3rem;
  font-size: 1.2rem;
  bottom: 10rem;
  left: 50%;
  background-color: rgb(41, 41, 41);

  &[data-theme="dark"]{
    background-color: rgb(255, 255, 255);
    color: black;
  }

  color: white;
  transform: translateX(-50%);
  z-index: 30;
  white-space: pre;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(31, 31, 31, 1);
}

@keyframes load-dot {
  0%{
    content: "";
  }
  30%{
    content: ".";
  }
  50%{
    content: "..";
  }
  75%{
    content: "...";
  }
  100%{
    content: "";
  }
}

@media (max-width: 500px) {
  .loading-screen{
    font-size: 1.5rem;
  }
}